$span-color: rgb(46, 73, 230);
$span-font-size: 5rem;
$div-width: 100px;
$div-height: 100px;
$div-bgcolcor: rgb(148, 235, 216);

.hashValue {
  color: $span-color;
  margin-left: 10px;
}
.float {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid red;
  float: right;
}
/*mixin定义一个混合器，通过include调用该混合器,mixin可以传递参数*/
@mixin border {
  border-radius: 10px;
  border: 2px solid #fff;
}
@mixin color($bgcolor, $border-color, $hover-color) {
  background-color: $bgcolor;
  border-color: $border-color;
  &:hover {
    background-color: $hover-color;
  }
}
.test {
  width: $div-width;
  height: $div-height;
  background-color: $div-bgcolcor;
  position: absolute;
  @include border;
  @include color(rgb(156, 209, 209), rgb(148, 216, 196),rgb(150, 170, 235));
}
/*@extend可以继承一个元素的样式*/
.extend{
  margin-left: 150px;
  @extend .test;
  @include color(lightblue, rgb(128, 147, 201),rgb(70, 188, 228))
}


//flex实现三栏布局
.container {
  display: flex; //父元素设置为弹性盒模型，子元素通过设置flex的值，分配父元素空间
  margin-bottom: 2px;
}
.left {
  width: 100px;
  height: 20px;
  background-color: antiquewhite;
  flex: 0 0 100px;
}
.right {
  width: 200px;
  height: 20px;
  background-color: rgb(176, 211, 61);
  flex: 0 0 200px;
}
.center {
  height: 20px;
  background-color: rgb(63, 144, 177);
  flex: 1 1 auto;
}
// float实现三栏布局
.center1 {
  background-color: rgb(94, 209, 209);
  height: 50px;
  margin: 0 100px 0 100px;
  min-width: 800px;
}
.testMenu {
  background-color: rgb(28, 46, 62);
  .el-menu-item {
    float: left;
    margin: 0 15px;
    height: 50px;
    color: black;
  }
}

// echarts
.echarts1 {
  position: absolute;
  top: 400px;
  background-color: rgb(17, 17, 17);
  left: 650px;
}
